[submodule "open/src/diff_planner"]
	path = open/src/diff_planner
	url = ../diff_planner.git
[submodule "open/src/px4ctrl"]
	path = open/src/px4ctrl
	url = ../px4ctrl.git
[submodule "open/src/faster-lio"]
	path = open/src/faster-lio
	url = ../faster-lio.git
[submodule "open/src/vins-fusion-gpu"]
	path = open/src/vins-fusion-gpu
	url = ../vins-fusion-gpu.git
[submodule "open/src/utils"]
	path = open/src/utils
	url = ../utils.git
